body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('/homework6-2021/images/concrete_seamless.png');  
    background-color: #f1f1f1;
  }

header{
    /* part 4/6 (9-10,13)*/
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.nav_links a:visited{
    color: #00f;
    /* PART 5*/
}

.nav_links{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
/* PART 6 */
}

/* part 7 */
.card > header{
    background-color: #288080;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
  /* part 8 */
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}

.card {
  /* part 9 */
  flex-direction: column;
  flex-basis: 450px;
}

.gallery{
    /* part 10 pt2 */
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.gallery > img{
    /* part 10 */
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

@keyframes logo {
  from {width:50px;}
  to {width: 425px;} 
  from {opacity: 0;}
  to {opacity: 1;}
}

  /* part 11 */
  #logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
}


  @media screen and (min-width: 850px){
    header:not(div>header){
      flex-direction: row;
      width:100%;
      position: fixed;
      z-index: 1;
}

    header{
      justify-content: space-around;
}

    h1{
      padding-top: 80px;
    }

    nav{
      width: 100%;
}   

    .nav_links{
      flex-direction: row;
      justify-content: flex-end;
}

    .card{
      flex-basis: 250px;
}
}

/* part 14 */
  @media screen and (prefers-reduced-motion) {
    #logo{
      animation:none;
    }
}

/* part 15-20 */
  @media print {
    #logo{
      animation:none;
    }

    body{
      background-image: none;
      background-color: #FFFFFF;
    }
    
    nav{
      width:100%;
    }

    .nav_links{
      flex-direction:row;
      justify-content: space-around;
    }

    div{
      min-height:100%;
    }

    .pricing{
      flex-wrap: nowrap;
      align-items: flex-end;
    }

    .card{
      border: 2px solid #45ADDD;
      flex-basis: 250px;
    }

    #gallery, .gallery{
      display:none;
    }

    div li:nth-child(odd)::before{
      content:'\1F44D';

    }
    div li:nth-child(even)::after{
      content:'\1F44D';
    }

}